.header {
    margin: 0 auto;
    max-width: 960px;
    background-color:cornsilk
}
.header li {
    display: block;
    padding: 10px;
    &:hover {
      background-color: #ccc;
    }
    display: inline;
    padding-right: 250px;
}
  